* {
  border: 1px solid blue;
}
.login-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
}
.login-form {
  padding: 20px;
  border: 10px;
  width: 35%;
  background-color: #272727;
}
